<!DOCTYPE html>
<html lang="en">

<head>

	<title>Dashboard</title>
	<% include partials/headadmin.ejs %>

</head>

<body class="animsition">
<div class="page-wrapper">
	<!-- HEADER MOBILE-->
	<header class="header-mobile d-block d-lg-none">
		<% include partials/headeradmin.ejs %>
	</header>
	<!-- END HEADER MOBILE-->

	<!-- MENU SIDEBAR-->
	<aside class="menu-sidebar d-none d-lg-block">
		<% include partials/menusidebar.ejs %>
	</aside>
	<!-- END MENU SIDEBAR-->

	<!-- PAGE CONTAINER-->
	<div class="page-container">
		<!-- HEADER DESKTOP-->
		<header class="header-desktop">
			<% include partials/headdesktop.ejs %>
		</header>
		<!-- HEADER DESKTOP-->

        <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 m-b-25">Thay đổi thông tin sản phẩm</h3>
                                        <form method="POST">
                                            <div class="form-group">
                                                <input id="txtProductName" name="txtProductName" type="text" class="form-control cc-exp" placeholder="Tên sản phẩm" autocomplete="cc-exp" value="<%= pItem.name %>">
                                            </div>
                                            <div class="form-group">
                                                <select id="txtCid" name="txtCid" class="form-control m-b-20">
                                                    <option>Loại sản phẩm...</option>
                                                    <% cList.forEach(function(cItem) { %>
                                                    <% if(cItem.id == pItem.cid) { %>
                                                        <option value="<%= cItem.id %>" selected="selected">
                                                            <%= cItem.name %>
                                                        </option>
                                                    <% } else {%>
                                                        <option value="<%= cItem.id %>">
                                                            <%= cItem.name %>
                                                        </option>
                                                    <% } %>
                                                    <% }); %>
                                                </section>
                                            </div>
                                            <div class="form-group">
                                                <input id="numberCost" name="numberCost" type="text" class="form-control cc-exp" placeholder="Giá gốc" autocomplete="cc-exp" value="<%= pItem.cost %>">
                                            </div>
                                            <div class="form-group">
                                                <input id="numberPrice" name="numberPrice" type="text" class="form-control cc-exp" placeholder="Giá bán" autocomplete="cc-exp" value="<%= pItem.price %>">
                                            </div>
                                            <div class="form-group">
                                                <input id="txtLinkImage" name="txtLinkImage" type="text" class="form-control cc-exp" placeholder="Ảnh minh họa" autocomplete="cc-exp" value="<%= pItem.path_picture %>">
                                            </div>
                                            <div class="form-group">
                                                <input id="txtCountry" name="txtCountry" type="text" class="form-control cc-exp" placeholder="Nguồn gốc" autocomplete="cc-exp" value="<%= pItem.orgin %>">
                                            </div>
                                            <div class="form-group">
                                                <input id="txtProductor" name="txtProductor" type="text" class="form-control cc-exp" placeholder="Nhà sản xuất" autocomplete="cc-exp" value="<%= pItem.productor %>">
                                            </div>
                                            <div class="form-group">
                                                <input id="numberQuantity" name="numberQuantity" type="text" class="form-control cc-exp" placeholder="Số lượng" autocomplete="cc-exp" value="<%= pItem.quantity %>">
                                            </div>
                                             <div class="form-group">
                                                <input id="txtDescs" name="txtDescs" type="text" class="form-control cc-exp" placeholder="Mô tả" autocomplete="cc-exp" value="<%= pItem.descr %>">
                                            </div>


                                            <div>
                                                <button id="payment-button" class="btn btn-lg btn-info btn-block">
                                                    <i class="fas fa-paper-plane"></i>
                                                    <span id="payment-button-amount">Cập nhật</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        

		<!-- END PAGE CONTAINER-->
	</div>

</div>

<!-- Jquery JS-->
<% include partials/jqueryScript.ejs %>

</body>

</html>
<!-- end document-->
