<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags-->
	<title>Quản lí đơn đặt hàng</title>
	<% include partials/headadmin %>

</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER MOBILE-->
		<header class="header-mobile d-block d-lg-none">
			<% include partials/headeradmin.ejs %>
		</header>
		<!-- END HEADER MOBILE-->

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<% include partials/menusidebar.ejs %>
		</aside>
		<!-- END MENU SIDEBAR-->

		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<% include partials/headdesktop.ejs %>
			</header>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<!-- DATA TABLE -->
								<h3 class="title-5 m-b-35">Quản lí đơn đặt hàng</h3>
								<div class="table-data__tool">
									<div class="table-data__tool-left">
										<div class="rs-select2--light rs-select2--md">
											<select class="js-select2" name="property">
												<option selected="selected">All Properties</option>
												<option value="">Đã giao hàng</option>
												<option value="">Chưa giao hàng</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
										<div class="rs-select2--light rs-select2--sm">
											<select class="js-select2" name="time">
												<option selected="selected">hôm nay</option>
												<option value="">3 ngày</option>
												<option value="">1 tuần</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
										<button class="au-btn-filter">
											<i class="zmdi zmdi-filter-list"></i>filters</button>
									</div>
								</div>
								<div class="table-responsive table-responsive-data2">
									<table class="table table-data2">
										<thead>
											<tr>
												<th>Tên khách hàng</th>
												<th>Email</th>
												<th>Ngày đặt</th>
												<th>Thành tiền</th>
												<th>Trình trạng</th>
												<th>Thao tác</th>
											</tr>
										</thead>
										<tbody>
											<% oList.forEach(function(oItem) { %>
											<tr class="tr-shadow">
												<td><%= oItem.fullname %></td>
												<td>
													<span class="block-email"><%= oItem.email %></span>
												</td>
												<td><%= oItem.odate %></td>
												<td><%= oItem.total %></td>
												<% var s = ""; %>
												<% if (oItem.stt == 0) { %>
												<% s = "Đang chờ xác nhận"; %>
												<% } else if (oItem.stt == 1) { %>
												<% s = "Đã hủy;" %>
												<% } else if (oItem.stt == 2) { %>
												<% s = "Đang giao hàng"; %>
												<% } else if (oItem.stt == 3) { %>
												<% s = "Đã giao hàng"; %>
												<% } %>
												
												<td>
													<span class="status--warning"><%= s %></span>
												</td>
												<td>
													<a href="/orders/detail/<%= oItem.id %>">Xem chi tiết</a>
													<% var a = ""; %>
													<% if (oItem.stt == 0) { %>
														<a> | </a>
														<a href="/orders/confirm/<%= oItem.id %>">Xác nhận đơn</a>
													<% } else if (oItem.stt == 2) { %>
														<a> | </a>
														<a href="/orders/confirm-delivery/<%= oItem.id %>">Xác nhận đã giao hàng</a>
													<% } %>
												</td>
											</tr>
											<tr class="spacer"></tr>
											<% }); %>
										</tbody>
									</table>
								</div>
								<!-- END DATA TABLE -->
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="copyright">
								<p>Copyright © 2018 Colorlib. All rights reserved. Template by <a
										href="https://colorlib.com">Colorlib</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Jquery JS-->
	<% include partials/jqueryScript.ejs %>

</body>

</html>
<!-- end document-->