<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <title>Quản lí sản phẩm sản phẩm</title>
    <% include partials/headadmin %>

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <% include partials/headeradmin.ejs %>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <% include partials/menusidebar.ejs %>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <% include partials/headdesktop.ejs %>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container" background-color="coral">
                 <!-- DATA TABLE -->
                    <div class="row">
                        <div class="col-lg-12 offset-3">
                            <h3 class="title-5 m-b-35">Quản lí sản phẩm sản phẩm</h3>
                        </div>
                    </div>
                    <div class="table-data__tool">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="rs-select2--light rs-select2--md">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">All Properties</option>
                                        <option value="">Còn hàng</option>
                                        <option value="">Hết hàng</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                            <div class="col-lg-2 offset-2">
                                <div class="rs-select2--light rs-select2--sm">
                                    <select class="js-select2" name="time">
                                        <option selected="selected">hôm nay</option>
                                        <option value="">3 ngày</option>
                                        <option value="">1 tuần</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                            <div class="col-lg-2 offset-1">
                                <button class="au-btn-filter">
                                    <i class="zmdi zmdi-filter-list"></i>filters</button>
                            </div>
                            <div class="col-lg-3 ">
                                <a href="/products/add/">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small" >
                                        <i class="zmdi zmdi-plus"></i>Thêm</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Sản phẩm</th>
                                    <th>Giá nêm yết</th>
                                    <th>Giá bán</th>
                                    <th>Nhà sản xuất</th>
                                    <th>Số lượng </th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>                                   

                            <tbody>
                                <% uList.forEach(function(uItem){ %>
                                <tr class="spacer"></tr>
                                <tr>
                                    <td><%= uItem.id %></td>
                                    <td class="desc"><%= uItem.name %></td>
                                    <td><%= uItem.cost %></td>
                                    <td><%= uItem.price %></td>
                                    <td><%= uItem.productor %></td>
                                    <td><%= uItem.quantity %></td>
                                    <td>
                                        <a href="/products/edit/<%= uItem.id %>"
                                            class="au-btn btn-success">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="/products/delete/<%= uItem.id %>" class="au-btn btn-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                            <!-- END DATA TABLE -->
                        <!-- </div> -->
                    <!-- </div> -->
                    <div class="row">
                        <ul class="pagination">
                            <% if(iPage > 1) { %>
                                <li class="page-item"> 
                                    <a class="page-link" href="/products?p=<%= iPage - 1 %>">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a> 
                                </li>
                            <% } %>
                            <% var begin = 1; %>
                            <% if (begin < iPage - 1) begin = iPage - 1; %>
                            <% var end = nPage %>
                            <% if (end > begin + 5) end = begin + 5; %>
                            <% for(var i = begin; i <= end; i++) { %>
                                <% if(iPage == i) { %>
                                    <li class="page-item active"><a class="page-link" href="#"><%= i %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/products?p=<%= i %>"><%= i %></a></li>
                                <% } %>
                            <% } %>
                            <% if (iPage < parseInt(nPage)) { %>
                                <% console.log(iPage + "<" + nPage) %>
                                <li class="page-item">
                                    <a class="page-link" href="/products?p=<%= parseInt(iPage) + 1 %>">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Jquery JS-->
<% include partials/jqueryScript.ejs %>

</body>

</html>
<!-- end document-->
