<!DOCTYPE html>
<html lang="en">

<head>
	<title>Thống kê</title>
	<% include partials/headadmin.ejs %>
	<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
</head>

<body class="animsition">
<div class="page-wrapper">
	<!-- HEADER MOBILE-->
	<header class="header-mobile d-block d-lg-none">
		<% include partials/headeradmin.ejs %>
	</header>
	<!-- END HEADER MOBILE-->

	<!-- MENU SIDEBAR-->
	<aside class="menu-sidebar d-none d-lg-block">
		<% include partials/menusidebar.ejs %>
	</aside>
	<!-- END MENU SIDEBAR-->

	<!-- PAGE CONTAINER-->
	<div class="page-container">
		<!-- HEADER DESKTOP-->
		<header class="header-desktop">
			<% include partials/headdesktop.ejs %>
		</header>
		<!-- END HEADER DESKTOP-->

		<!-- MAIN CONTENT-->
		<div class="main-content">
			<div class="section__content section__content--p30">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6">
							<div class="au-card m-b-30">
								<div class="au-card-inner">
									<h3 class="title-2 m-b-40">Doanh số bán hàng theo các ngày</h3>
									<canvas id="charDay"></canvas>
									<script>
										var ctx = document.getElementById('charDay').getContext('2d');
										var myChart = new Chart(ctx, {
											type: 'bar',
											data: {
												labels: <%- ndList %>,
												datasets: [{
													label: 'VND',
													data: <%- vdList %>,
													backgroundColor : 'rgba(83, 51, 237, 1)',
													borderWidth: 1
												}]
											},
											options: {
												scales: {
													yAxes: [{
														ticks: {
															beginAtZero: true
														}
													}]
												}
											}
										});
									</script>
								</div>
							</div>
						</div>


						<div class="col-lg-6">
							<div class="au-card m-b-30">
								<div class="au-card-inner">
									<h3 class="title-2 m-b-40">Doanh số bán hàng theo các tuần</h3>
									<canvas id="charWeek"></canvas>
									<script>
										var ctx = document.getElementById('charWeek').getContext('2d');
										var myChart = new Chart(ctx, {
											type: 'bar',
											data: {
												labels: <%- nwList %>,
												datasets: [{
													label: 'VND',
													data: <%- vwList %>,
													backgroundColor : 'rgba(83, 51, 237, 1)',
													borderWidth: 1
												}]
											},
											options: {
												scales: {
													yAxes: [{
														ticks: {
															beginAtZero: true
														}
													}]
												}
											}
										});
									</script>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="au-card m-b-30">
								<div class="au-card-inner">
									<h3 class="title-2 m-b-40">Doanh số bán hàng theo các tháng</h3>
									<canvas id="charMonth"></canvas>
									<script>
										var ctx = document.getElementById('charMonth').getContext('2d');
										var myChart = new Chart(ctx, {
											type: 'bar',
											data: {
												labels: <%- nmList %>,
												datasets: [{
													label: 'VND',
													data: <%- vmList %>,
													backgroundColor : 'rgba(83, 51, 237, 1)',
													borderWidth: 1
												}]
											},
											options: {
												scales: {
													yAxes: [{
														ticks: {
															beginAtZero: true
														}
													}]
												}
											}
										});
									</script>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="au-card m-b-30">
								<div class="au-card-inner">
									<h3 class="title-2 m-b-40">Doanh số bán hàng theo các quý</h3>
									<canvas id="charQuarter"></canvas>
									<script>
										var ctx = document.getElementById('charQuarter').getContext('2d');
										var myChart = new Chart(ctx, {
											type: 'bar',
											data: {
												labels: <%- nqList %>,
												datasets: [{
													label: 'VND',
													data: <%- vqList %>,
													backgroundColor : 'rgba(83, 51, 237, 1)',
													borderWidth: 1
												}]
											},
											options: {
												scales: {
													yAxes: [{
														ticks: {
															beginAtZero: true
														}
													}]
												}
											}
										});
									</script>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="au-card m-b-30">
								<div class="au-card-inner">
									<h3 class="title-2 m-b-40">Doanh số bán hàng theo các năm</h3>
									<canvas id="charYear"></canvas>
									<script>
										var ctx = document.getElementById('charYear').getContext('2d');
										var myChart = new Chart(ctx, {
											type: 'bar',
											data: {
												labels: <%- nyList %>,
												datasets: [{
													label: 'VND',
													data: <%- vyList %>,
													backgroundColor : 'rgba(83, 51, 237, 1)',
													borderWidth: 1
												}]
											},
											options: {
												scales: {
													yAxes: [{
														ticks: {
															beginAtZero: true
														}
													}]
												}
											}
										});
									</script>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="copyright">
								<p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END MAIN CONTENT-->
	</div>
	<!-- END PAGE CONTAINER-->

</div>

<!-- Jquery JS-->
<% include partials/jqueryScript.ejs %>

</body>

</html>
<!-- end document-->
