<!DOCTYPE html>
<html lang="en">

<head>

    <title>Dashboard</title>
    <% include partials/headadmin.ejs %>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <% include partials/headeradmin.ejs %>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <% include partials/menusidebar.ejs %>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <% include partials/headdesktop.ejs %>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">

                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <h6 class="title-1 m-b-25">quản lý tài khoản khách hàng</h6>
                            </div>
                            <div class="col-lg-2">
                                <div class="js-item-menu">
                                    <button class="au-btn btn-primary active">
                                        <i class="zmdi zmdi-plus"></i>Thêm
                                    </button>
                                    <div class="mess-dropdown js-dropdown">
                                        <!-- THÊM TÀI KHOẢN -->
                                        <div class="card">
                                            <div class="card-header">Thêm tài khoản</div>
                                            <div class="card-body">

                                                <form action="" method="post" novalidate="novalidate">

                                                    <div class="form-group">
                                                        <label for="cc-payment" class="control-label mb-1">Họ
                                                            tên</label>
                                                        <input id="cc-exp" name="cc-exp" type="tel"
                                                            class="form-control cc-exp" value="" data-val="true"
                                                            data-val-required="Please enter the card expiration"
                                                            data-val-cc-exp="Please enter a valid month and year"
                                                            placeholder="Nguyễn Văn A" autocomplete="cc-exp">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="cc-payment" class="control-label mb-1">Số điện
                                                            thoại</label>
                                                        <input id="cc-exp" name="cc-exp" type="tel"
                                                            class="form-control cc-exp" value="" data-val="true"
                                                            data-val-required="Please enter the card expiration"
                                                            data-val-cc-exp="Please enter a valid month and year"
                                                            placeholder="012345678x" autocomplete="cc-exp">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="cc-payment" class="control-label mb-1">Email</label>
                                                        <input id="cc-exp" name="cc-exp" type="tel"
                                                            class="form-control cc-exp" value="" data-val="true"
                                                            data-val-required="Please enter the card expiration"
                                                            data-val-cc-exp="Please enter a valid month and year"
                                                            placeholder="nva@gmail.com" autocomplete="cc-exp">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="cc-payment" class="control-label mb-1">Tên tài
                                                            khoản</label>
                                                        <input id="cc-exp" name="cc-exp" type="tel"
                                                            class="form-control cc-exp" value="" data-val="true"
                                                            data-val-required="Please enter the card expiration"
                                                            data-val-cc-exp="Please enter a valid month and year"
                                                            placeholder="nva9669" autocomplete="cc-exp">
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="cc-exp" class="control-label mb-1">Mật
                                                                    khẩu</label>
                                                                <input id="cc-exp" name="cc-exp" type="password"
                                                                    class="form-control cc-exp" value="" data-val="true"
                                                                    data-val-required="Please enter the card expiration"
                                                                    data-val-cc-exp="Please enter a valid month and year"
                                                                    autocomplete="cc-exp">
                                                                <span class="help-block" data-valmsg-for="cc-exp"
                                                                    data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="x_card_code" class="control-label mb-1">Lặp lại
                                                                mk</label>
                                                            <div class="input-group">
                                                                <input id="x_card_code" name="x_card_code"
                                                                    type="password" class="form-control cc-cvc" value=""
                                                                    data-val="true"
                                                                    data-val-required="Please enter the security code"
                                                                    data-val-cc-cvc="Please enter a valid security code"
                                                                    autocomplete="off">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button id="payment-button" type="submit"
                                                            class="btn btn-lg btn-info btn-block">
                                                            <i class="fas fa-paper-plane"></i>&nbsp;
                                                            <span id="payment-button-amount">Tạo</span>
                                                            <span id="payment-button-sending"
                                                                style="display:none;">Sending…</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- KẾT THÚC THÊM TÀI KHOẢN -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <!--  SỬA TÀI KHOẢN -->

                                <div class="js-item-menu">
                                    <button type="button" class="au-btn btn-success active">
                                        <i class="fas fa-edit"></i> Sửa
                                    </button>
                                    <div class="mess-dropdown js-dropdown">
                                        <div class="card">
                                            <div class="card-header">Cập nhật tài khoản</div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="cc-payment" class="control-label mb-1">Nhập ID tài
                                                        khoản</label>
                                                    <input id="cc-exp" name="cc-exp" type="tel"
                                                        class="form-control cc-exp" value="" data-val="true"
                                                        data-val-required="Please enter the card expiration"
                                                        data-val-cc-exp="Please enter a valid month and year"
                                                        autocomplete="cc-exp">
                                                </div>
                                                <button class="btn-lg btn-primary au-btn" type="submit">Tìm</button>
                                                <hr>

                                                <div class="form-group">
                                                    <label for="cc-payment" class="control-label mb-1">Nhập tài
                                                        khoản</label>
                                                    <input id="cc-exp" name="cc-exp" type="tel"
                                                        class="form-control cc-exp" value="" data-val="true"
                                                        data-val-required="Please enter the card expiration"
                                                        data-val-cc-exp="Please enter a valid month and year"
                                                        autocomplete="cc-exp">

                                                </div>

                                                <div class="form-group">
                                                    <label for="cc-payment" class="control-label mb-1">Nhập mật
                                                        khẩu</label>
                                                    <input id="cc-exp" name="cc-exp" type="tel"
                                                        class="form-control cc-exp" value="" data-val="true"
                                                        data-val-required="Please enter the card expiration"
                                                        data-val-cc-exp="Please enter a valid month and year"
                                                        autocomplete="cc-exp">

                                                </div>

                                                <div class="form-group">
                                                    <label for="cc-payment" class="control-label mb-1">Nhập lại mật
                                                        khẩu</label>
                                                    <input id="cc-exp" name="cc-exp" type="tel"
                                                        class="form-control cc-exp" value="" data-val="true"
                                                        data-val-required="Please enter the card expiration"
                                                        data-val-cc-exp="Please enter a valid month and year"
                                                        autocomplete="cc-exp">

                                                </div>
                                                <button class="btn-lg btn-primary au-btn" type="submit">Cập
                                                    nhật</button>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- KẾT THÚC SỬA TÀI KHOẢN -->
                            <div class="col-lg-2">

                                <div class="js-item-menu">
                                    <button type="button" class="au-btn btn-danger active">
                                        <i class="far fa-trash-alt"></i> Xóa
                                    </button>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="card">
                                            <div class="card-header">Xóa tài khoản</div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="cc-payment" class="control-label mb-1">Nhập ID tài
                                                        khoản</label>
                                                    <input id="cc-exp" name="cc-exp" type="tel"
                                                        class="form-control cc-exp" value="" data-val="true"
                                                        data-val-required="Please enter the card expiration"
                                                        data-val-cc-exp="Please enter a valid month and year"
                                                        autocomplete="cc-exp">
                                                </div>
                                                <button class="btn-lg btn-primary au-btn" type="submit">Tìm</button>
                                                <hr>

                                                <div class="form-group">
                                                    <label for="cc-payment" class="control-label mb-1">Tên tài
                                                        khoản</label>
                                                    <input id="cc-exp" name="cc-exp" type="tel"
                                                        class="form-control cc-exp" value="" data-val="true"
                                                        data-val-required="Please enter the card expiration"
                                                        data-val-cc-exp="Please enter a valid month and year"
                                                        autocomplete="cc-exp">

                                                </div>

                                                <div class="form-group">
                                                    <label for="cc-payment" class="control-label mb-1">Mật khẩu</label>
                                                    <input id="cc-exp" name="cc-exp" type="tel"
                                                        class="form-control cc-exp" value="" data-val="true"
                                                        data-val-required="Please enter the card expiration"
                                                        data-val-cc-exp="Please enter a valid month and year"
                                                        autocomplete="cc-exp">

                                                </div>
                                                <button class="btn-lg btn-primary au-btn" type="submit">Xóa</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12">

                                <!-- TABLE -->
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Họ và tên</th>
                                                <th>Email</th>
                                                <th>Username</th>
                                                <th>Thao tác</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% uList.forEach(function(uItem) { %>
                                            <tr>
                                                <td><%= uItem.id %></td>
                                                <td><%= uItem.fullname %></td>
                                                <td><%= uItem.email %></td>
                                                <td><%= uItem.username %></td>
                                                <td>
                                                    <a href="users/edit/<%= uItem.id %>"
                                                        class="au-btn btn-success">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="users/delete/<%= uItem.id %>" class="au-btn btn-danger">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END TABLE -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <% include partials/jqueryScript.ejs %>
</body>

</html>
<!-- end document-->